
@model HealthBlog.Entities.Concrete.Content

@{
    ViewBag.Title = "İçerik Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section CssFiles {
    <link rel="stylesheet" href="~/FrontendFiles/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

}



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Yeni İçerik Yazısı Girişi</h1>
            </div>

        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-9">

                @using (Html.BeginForm("AddContent", "Content", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Yeni İçerik Yazısı Oluştur</h3>
                        </div>

                        <div class="card-body">
                            <div class="form-group">

                                @Html.Label("İçerik başlığı giriniz:")
                                @Html.TextBoxFor(x => x.ContentTitle, new { PlaceHolder = "Lütfen başlık giriniz...", @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ContentTitle, "", new { @style = "color:red" })

                            </div>
                            <div class="form-group">
                                @Html.Label("İçerik giriniz:")
                                <textarea id="compose-textarea" name="ContentValue" class="form-control" style="height: 300px"></textarea>
                            </div>
                            <div class="form-group">

                                @Html.Label("Aktiflik durumu giriniz:")
                                @Html.DropDownListFor(x => x.ContentStatus, (List<SelectListItem>)ViewBag.StatusType, new { @class = "form-control" })

                            </div>
                            <div class="form-group">

                                @Html.Label("İçerik yazarı seçiniz:")
                                @Html.DropDownListFor(x => x.WriterId, (List<SelectListItem>)ViewBag.valueWriter, new { @class = "form-control" })

                            </div>

                            <div class="form-group">
                                @Html.Label("İçerik kategorisi girin:")
                                @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.valueCategory, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.Label("İçerik görseli yükleyiniz:")
                                <br />
                                <input type="file" name="ContentImage" />
                                <p class="help-block">Max. 32MB</p>
                            </div>
                        </div>

                        <div class="card-footer">
                            <div class="float-right">

                                <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Kaydet</button>
                            </div>
                            <button type="reset" class="btn btn-default"><i class="fas fa-times"></i> İptal Et</button>
                        </div>

                    </div>

                }


            </div>

        </div>

    </div>
</section>


@section Scripts {
    <script src="~/FrontendFiles/AdminLTE-3.0.4/plugins/summernote/summernote.min.js"></script>

}


<script src="~/FrontendFiles/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
<script src="~/FrontendFiles/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
<script src="~/FrontendFiles/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>



<script>
    $(function () {
        //Add text editor
        $('#compose-textarea').summernote()
    })</script>


