
@model HealthBlog.Entities.Concrete.ImageFile


@{
    ViewBag.Title = "Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>GÜNCELLE</h2>
<br />

@using (Html.BeginForm("UpdateImage", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-group">

    @Html.Label("Resim ID:")
    @Html.TextBoxFor(x => x.ImageId, new { @class = "form-control" })
    <br />
    @Html.Label("Resim başlığı:")
    @Html.TextBoxFor(x => x.ImageName, new { PlaceHolder = "Başlık girin...", @class = "form-control" })
    <br />
    @Html.Label("Resim açıklaması:")
    @Html.TextBoxFor(x => x.ImageDescription, new { PlaceHolder = "Açıklama girin...", @class = "form-control" })
    <br />
    @Html.Label("Hangi içeriğe resim ekleyeceğinizi seçiniz:")
    @Html.DropDownListFor(x => x.ContentId, (List<SelectListItem>)ViewBag.valueContent, new { @class = "form-control" })

    <br />
    <input type="file" name="ImagePath" />
    <br /><br />
    <button class="btn btn-info">Kaydet</button>


</div>

}

