@using HealthBlog.Entities.Concrete
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Writer>

@{
    ViewBag.Title = "Yazarlarımız";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



@section CssFiles {


    <link rel="stylesheet" href="~/FrontendFiles/Site1/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/FrontendFiles/Site1/Home.css" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">

}

@section Scripts {

    <script class="u-script" type="text/javascript" src="~/FrontendFiles/Site1/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/FrontendFiles/Site1/nicepage.js" defer=""></script>

}



<section class="u-align-center u-clearfix u-palette-5-dark-3 u-section-2" id="carousel_19ee">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-default u-text-palette-2-base u-text-1">Yazarlarımız</h1>
        <p class="u-text u-text-default u-text-2">Hepsi birbirinden deneyimli uzmanlarımız...</p>
        <div class="u-expanded-width u-list u-list-1">
            <div class="u-repeater u-repeater-1">

                <!--for gelecek-->

                @foreach (var x in Model)
                {




                    <div class="u-align-center u-container-style u-list-item u-radius-15 u-repeater-item u-shape-round u-white u-list-item-5">
                        <div class="u-container-layout u-similar-container u-container-layout-5">
                            <div class="u-border-6 u-border-white u-image u-image-circle u-image-5" style="background-image:url(/FrontendFiles/WriterImages/@x.WriterImage);" alt="" data-image-width="800" data-image-height="936"></div>
                            <h5 class="u-custom-font u-font-raleway u-text u-text-default u-text-palette-2-base u-text-11">@x.WriterTitle @x.WriterName @x.WriterSurname</h5>
                            <p class="u-text u-text-12">@x.WriterAbout.Substring(0,60) ...</p>
                            <a href="/Writer/WriterDetail/@x.WriterId" class="u-active-palette-5-dark-2 u-border-none u-btn u-btn-round u-button-style u-grey-15 u-hover-palette-5-dark-2 u-radius-50 u-text-active-white u-text-body-color u-text-hover-white u-btn-5">Devamı</a>
                        </div>
                    </div>

                }


            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <div class="block-27">
                    @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("WritersPage", new { sayfa }))
                </div>
            </div>
        </div>

    </div>
</section>
