@using HealthBlog.Entities.Concrete
@model IEnumerable<Comment>


@{
    ViewBag.Title = "Yorum Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<body class="hold-transition sidebar-mini">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">

                </div>
            </div>
        </div>
    </section>

    <section class="content">

        <div class="card" style="background-color:aquamarine;">
            <div class="card-header">


            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Hangi Yazıya
                            </th>
                            <th style="width: 15%">
                                Adı Soyadı
                            </th>
                            <th style="width: 10%">
                                E-Mail
                            </th>
                            <th style="width: 8%" class="text-center">
                                Yorum
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {


                            <tr>
                                <td>
                                    @item.ContentId
                                </td>
                                <td>
                                    <a>
                                        @item.Content.ContentTitle
                                    </a>
                                    <br />
                                    <small>
                                        @item.CreateDate
                                    </small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="~/FrontendFiles/AdminLTE-3.0.4/images1/default.jpg">
                                            @item.FullName
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <span class="accent-info">@item.Mail</span>
                                </td>
                                <td class="project-state">
                                    <span class="">@item.Message</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" id="detail" href="/Comment/Popup/@item.ID" data-target="#Modal1" >
                                        <i class="fas fa-folder">
                                        </i>
                                        Yorum Detayı
                                    </a>

                                    


                                    @*<a class="btn btn-info btn-sm" href="#">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>*@
                                    <a class="btn btn-danger btn-sm" href="/Comment/AdminDeleteComment/@item.ID">
                                        <i class="fas fa-trash">
                                        </i>
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>


                @*<div class="block-27">
                        @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index","Content", new { sayfa }))
                    </div>*@


            </div>

        </div>

    </section>
</body>


@*<a href="/Content/AddContent/" class="btn btn-primary">Yeni İçerik Ekle</a>*@



